  #snackbar {
    /*visibility: hidden;*/
        min-width: 350px;
        text-overflow: wrap;
        border-radius: 7px;
        padding: 10px;
        position: fixed;
        z-index: 1;
        right: -500px;
        bottom: 7px;
        font-size: 11pt;
        box-shadow: 1px 2px 5px black;
        border: 2px solid white;
      }
      
      #snackbar.show {
          visibility: visible;
          -webkit-animation: fadein 0.8s;
          animation: fadein 1.5s;
      }

      #snackbar.off {
          -webkit-animation: fadeout 0.5s;
          animation: fadeout 1.5s;
      }

      @-webkit-keyframes fadein {
        /*from {top:  0; opacity: 0;} 
        to {top: 170px; opacity: 1;}*/
        /*from {transform: translateX(0); opacity: 0;}
        to { transform: translateX(170px); opacity: 1;}*/
      }

      @keyframes fadein {
        from {right:  -500px; opacity: 0;}
        to {right: 0px; opacity: 1;}
        /*from {transform: translateY(0); opacity: 0;}
        to { transform: translateY(170px); opacity: 1;}*/
      }

      @-webkit-keyframes fadeout {
        from {top:  170px; opacity: 1;} 
        to {top: 0; opacity: 0;}
        /*from {transform: translateY(170px); opacity: 1;}
        to { transform: translateY(-50px); opacity: 0;}*/
      }
      @keyframes fadeout {
          from {right: 0px; opacity:1; }
          to {right: -500px; opacity:0; }
        /*from {transform: translateY(170px); transform:scale(1);}
        to { transform: translateY(-50px); transform:scale(0);}*/
      }

  #page-scroll { 
        max-width: 500px; 
        margin: 1rem auto;
        padding: 1rem;
       }   
  .comment {
        float: left;
        width: 100%;
        height: auto;
    }

  .commenter {
      float: left;
  }

  .commenter img {
      width: 35px;
      height: 35px;
  }

  .comment-text-area {
      float: left;
      width: 100%;
      height: auto;
  }

  .textinput {
      float: left;
      width: 100%;
      min-height: 75px;
      outline: none;
      resize: none;
      border: 1px solid grey;

  }      
  #tmb-bot {
    position: fixed;
    bottom: 20px;
    right: -200px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    z-index: 99;
    width: 40px;height: 40px;
    box-shadow: 0px 1px 10px black;
    border-radius: 40px;
  }

  #tmb-bot.on{
    -webkit-animation: animatebot 2s;
    animation:animatebot 2s;
  }
  #tmb-bot.off{
    -webkit-animation: animatel 2s;
    animation:animatel 2s;
  }
  @-webkit-keyframes animatebot {
    from{right:-200px;opacity:0} to{right: 30px;opacity:1}
  }

  @keyframes animatebot {
    from{right:-200px;opacity:0} to{right: 30px;opacity:1}
  }

  @-webkit-keyframes animatel {
    from{right:30px;opacity:1} to{right: -200px;opacity:0}
  }

  @keyframes animatel {
    from{right:30px;opacity:1} to{right: 200px;opacity:0}
  }

  #tmb-up {
    position: fixed;
    bottom: 20px;
    right: -200px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    z-index: 99;
    width: 40px;height:40px;
    box-shadow: 0px 1px 10px black;
    border-radius: 40px;
  }
  #tmb-up.on{
    -webkit-animation: animateup 2s;
    animation:animateup 2s;
  }
  #tmb-up.off{
    -webkit-animation: animatel 2s;
    animation:animatel 2s;
  }
  @-webkit-keyframes animateup {
    from{right:200px;opacity:0} to{right: 30px;opacity:1}
  }

  @keyframes animateup {
    from{right:200px;opacity:0} to{right: 30px;opacity:1}
  }

#wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttono {
  min-width: 40px;
  min-height: 27px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  /*font-weight: 700px;*/
  color: black;
  background: grey;
  background: linear-gradient(90deg, #F5DEB3 0%, #F4A460   100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 5px 7px 30px #F5DEB3;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 7px;
  }

button.buttono::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(40px + 12px);
  min-height: calc(40px + 12px);
  border: 3px solid grey;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.buttono:hover, .buttono:focus {
  color: #313133;
  /*transform: translateY(-6px);*/
}

button.buttono:hover::before, button.buttono:focus::before {
  opacity: 1;
}

button.buttono::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 7px solid grey;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button.buttono:hover::after, button.buttono:focus::after {
  animation:;
  display: none;
}

@keyframes ring {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  100% {
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}

.tooltips {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltips .tooltiptexts {
  opacity: 0;
  transition: opacity 0.5s;
  width: 120px;
  text-align: center;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  bottom: 170%;
  left: 50%;
  margin-left: -70px;
  background-color: #fff;
  border: 5px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

.tooltips .tooltiptexts::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border: 10px solid;
  border-color: #fff transparent transparent transparent ;
}

.tooltips .tooltiptexts::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 100%;
  margin-left: -12px;
  border: 17px solid;
  border-color: #666 transparent transparent transparent;
}

.tooltips:hover .tooltiptexts {
  opacity: 1;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

.progress-bar {
  height: 4px;
  background: darkgrey;
  width: 0%;
}

.loader1 {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    /*border: 5px solid grey; */
    border-bottom: 5px solid blue;
    border-radius: 100%;
    fill: none;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .loader2  {
    content: "";
    position: absolute;
    top: 8%;
    left: 8%;
    /*right: 5px;
    bottom: 5px;*/
    width: 80px;
    height: 80px;
    /*border: 2px solid #000; */
    border-top: 5px solid red;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  .loader3  {
    content: "";
    position: absolute;
    top: 5%;
    left: 6%;
    /*right: 5px;
    bottom: 5px;*/
    width: 65px;
    height: 65px;
    /*border: 2px solid #000; */
    border-top: 4px solid green;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  @-webkit-keyframes spin {
  100% { -webkit-transform: rotate(-360deg); }
  }
 
  @keyframes spin {
  100% { transform: rotate(-360deg); }
  }

