.yz-theme-l5 {color:#000 !important; background-color:#faf0fc !important}
.yz-theme-l4 {color:#000 !important; background-color:#efcef4 !important}
.yz-theme-l3 {color:#000 !important; background-color:#de9eea !important}
.yz-theme-l2 {color:#fff !important; background-color:#ce6ddf !important}
.yz-theme-l1 {color:#fff !important; background-color:#be3dd4 !important}
.yz-theme-d1 {color:#fff !important; background-color:#8c239e !important}
.yz-theme-d2 {color:#fff !important; background-color:#7c1f8d !important}
.yz-theme-d3 {color:#fff !important; background-color:#6d1b7b !important}
.yz-theme-d4 {color:#fff !important; background-color:#5d1769 !important}
.yz-theme-d5 {color:#fff !important; background-color:#4e1358 !important}

.yz-theme-light {color:#000 !important; background-color:#faf0fc !important}
.yz-theme-dark {color:#fff !important; background-color:#4e1358 !important}
.yz-theme-action {color:#fff !important; background-color:#4e1358 !important}

.yz-theme {color:#fff !important; background-color:#9c27b0 !important}
.yz-text-theme {color:#9c27b0 !important}
.yz-border-theme {border-color:#9c27b0 !important}

.yz-hover-theme:hover {color:#fff !important; background-color:#9c27b0 !important}
.yz-hover-text-theme:hover {color:#9c27b0 !important}
.yz-hover-border-theme:hover {border-color:#9c27b0 !important}